header {
  display: grid;
  grid-template-columns:
    10% minmax(min-content, 10%) 10% minmax(min-content, auto)
    10%;
}

#header_site_name {
  align-self: flex-end;
  grid-column: 2;
  margin: 12px 0px 0px;
}

#header_menu {
  grid-column: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header_link {
  align-self: flex-end;
  justify-self: center;
  color: rgb(78, 70, 70);
  font-size: 22px;
  font-weight: 600;
}
